name: Check

on:
  pull_request:
  push:
    branches: [main]

env:
  CARGO_INCREMENTAL: 0
  RUSTFLAGS: -D warnings

jobs:
  cargo:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive
      - uses: moonrepo/setup-rust@v1
      - name: Install tree-sitter-cli
        run: |
          npm install -g tree-sitter-cli
      - name: Test
        run: cargo test

  pre-commit:
    name: Run pre-commit hooks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive
      - uses: moonrepo/setup-rust@v1
        with:
          components: clippy,rustfmt
      - name: Install tree-sitter-cli
        run: |
          npm install -g tree-sitter-cli
      - uses: actions/setup-python@v6
      - uses: pre-commit/action@v3.0.1

  uv:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive
      - uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7.1.2
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
      - name: Build with uv
        run: |
          uv build
